body{
    text-align: center;
}

#write_block{
    display: inline-block;
    width: 400px;
}
.selectLanguage{
    text-align: center;
    padding: 20px;
}

.selectLanguage option{
    height: 25px;
}

#textToTranslate{
    height: 100px;
}
#animate {
    width: 14px;
    height: 24px;
    background-image: url("images/cursor.png");
    background-size: 14px 24px;
    position: absolute;
}